#blog h3, h4{
	text-align: center;
}

#blog .contenedor {
	display: flex;/*para que las imagenes esten en una sola linea*/
	justify-content: center;
	flex-wrap: wrap;/*para que los contendeores se acomoden automaticamente*/
}
#blog article{
	margin: 15px;
}
#blog img{
	width: 100%;

}